<div fxLayout fxLayout.xs="column" fxLayoutAlign="start center">
  <div fxFlex>
    <div fxLayout="column">
      <div fxFlex>
        <p class=heading>
            Welcome to the world of investing,
            Register to get early access
        </p>

      </div>
      <div fxFlex>
        <mat-card class="detail-form">
          <form (ngSubmit)="submit(form)" #form="ngForm" ngNativeValidate>
            <mat-card-title class="Register-Today">
              Register Today
            </mat-card-title>
            <mat-card-content>
              <ng-container *ngIf="!isSubmit">
                <mat-input-container>
                  <input type="text" matInput placeholder="Enter Username" name="username" [(ngModel)]="user.name" required maxlength="25">
                </mat-input-container>
                <mat-input-container>
                  <input type="number" matInput placeholder="Enter mobile number" name="mobile" [(ngModel)]="user.mobile" size="10" maxlength="10" required>
                </mat-input-container>
                <mat-input-container>
                  <input type="email" matInput placeholder="Enter Email id" name="email" [(ngModel)]="user.email" required>
                </mat-input-container>
              </ng-container>
              <ng-container *ngIf="isSubmit">
                  <span>Enter the OTP sent via SMS</span>
                <mat-input-container>
                  <input type="number" matInput placeholder="Enter OTP" [(ngModel)]="otpData.otp" name="opt" size="10" maxlength="10" required>
                </mat-input-container>
              </ng-container>
            </mat-card-content>
            <button mat-button type="submit" color="primary">Submit</button>
          </form>
        </mat-card>
      </div>
    </div>


  </div>

  <div fxFlex>
    <img src="/assets/img/mf.png">
  </div>
</div>