.detail-form {
  // width: 300px;
  margin: 20px;
}
.heading {
    width: 494px;
    // height: 37px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

.Register-Today {
    width: 100px;
    height: 15px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.36;
    // letter-spacing: 0.1px;
    text-align: left;
    color: #35435f;
    color: var(--dark-grey-blue);
  }