<mat-progress-bar color="primary" mode="indeterminate" *ngIf="isSubmitting"></mat-progress-bar>
<div fxLayout fxLayout.xs="column" fxLayoutAlign="start center">
  <div fxFlex>
    <div fxLayout="column">
      <div fxFlex>
        <h2 class="light-blue">
          Welcome to the world of Investing
        </h2>

      </div>
      <div fxFlex>
        <mat-card class="user-form">
          <mat-card-title class="register-today">
              Register to get early access
          </mat-card-title>
          <mat-card-content>
            <ng-container *ngIf="isUserForm else otpForm">
              <form fxLayout="column" (ngSubmit)="submitUserDetails()" #form="ngForm" ngNativeValidate>
                <mat-input-container>
                  <input type="text" matInput placeholder="Enter Name" name="username" [(ngModel)]="user.name" required maxlength="25">
                </mat-input-container>
                <mat-input-container>
                  <input type="text" pattern="[789][0-9]{9}" matInput placeholder="Enter Mobile Number" title="Enter 10 digit Valid Mobile Number" name="mobile" [(ngModel)]="user.mobile" size="10"
                    maxlength="10" required>
                </mat-input-container>
                <!-- <mat-input-container>
                  <input type="email" matInput placeholder="Enter Email (optional)" name="email" [(ngModel)]="user.email">
                </mat-input-container> -->
                <p class="error-msg">{{errorMsg}}</p>
                <button mat-raised-button type="submit" [disabled]="isSubmitting" color="primary">{{isSubmitting ? 'Submitting' : 'Submit'}}</button>
              </form>
            </ng-container>
            <ng-template #otpForm>
              <form (ngSubmit)="submitOtp()" #form="ngForm" ngNativeValidate>
                <span>Enter the OTP sent via SMS to {{otpData.mobile}}</span>
                <mat-input-container>
                  <input type="text" pattern="\d{4}" matInput placeholder="Enter OTP" title="Please enter valid OTP" [(ngModel)]="otpData.otp" name="opt" maxlength="4" required>
                </mat-input-container>
                <span class="error-msg">{{errorMsg}}</span>
                <p class="resend-otp">Didn't get the OTP? <a href="#" role="button" (click)="resendOtp()" class="light-blue">Resend</a></p>
                <!-- <a href="#" role="button" (click)="editInfo()" class="light-blue">Edit</a> -->
                <button mat-raised-button type="submit" [disabled]="isSubmitting" color="primary">{{isSubmitting ? 'Submitting' : 'Submit'}}</button>
              </form>
            </ng-template>
            <!-- <ng-container *ngIf="isThankyou">
              <div>
                <h3>THANK YOU !</h3>
                <p class="register-msg">You have been registered for early access.</p>
              </div>
            </ng-container> -->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div fxFlex>
    <img class="mf-img" src="/assets/img/mutualfund.jpg">
  </div>
</div>