<div fxLayout fxLayout.xs="column" fxLayoutAlign="start center">
  <div fxFlex>
    <div fxLayout="column">
      <div fxFlex>
        <span class=heading>
          Invest Wisely and Get Richer, Invest for your safe tomorrow.
          <!-- Start Investing Wisely Today,  -->
        </span>

      </div>
      <div fxFlex>
        <mat-card class="detail-form">
          <form (ngSubmit)="submit(form)" #form="ngForm" ngNativeValidate>
            <mat-card-title class="Register-Today">
              Register Today
            </mat-card-title>
            <mat-card-content>
              <ng-container *ngIf="!isSubmit">
                <mat-input-container>
                  <input type="text" matInput placeholder="Username" name="username" required maxlength="25">
                </mat-input-container>
                <mat-input-container>
                  <input type="number" matInput placeholder="Enter mobile number" name="mobile" size="10" maxlength="10" required>
                </mat-input-container>
              </ng-container>
              <ng-container *ngIf="isSubmit">
                  <span>Enter the OTP sent via SMS</span>
                <mat-input-container>
                  <input type="number" matInput placeholder="Enter OTP" name="mobile" size="10" maxlength="10" required>
                </mat-input-container>
              </ng-container>
            </mat-card-content>
            <button mat-button type="submit" color="primary">Submit</button>
          </form>
        </mat-card>
      </div>
    </div>


  </div>

  <div fxFlex>
    <img src="/assets/img/mf.png">
  </div>
</div>