/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  max-width: 100%;
}

.mat-form-field {
  width: 100%;
}

@media (min-width: 360px) {
  body {
    font-size: 1em;
  }
  .logo {
    display: block;
    margin: auto;
  }
}

@media (min-width: 640px) {
  body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    margin: 0;
  }
}